@font-face {
  font-family: 'FF';
  src:  url('Forgotten Futurist BD.ttf') format('truetype');
}
@font-face {
  font-family: 'NewCicle';
  src:  url('New Cicle Semi.ttf') format('truetype');
}
@font-face {
  font-family: 'Sansation';
  src:  url('Sansation_Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Comfortaa';
  src:  url('Comfortaa.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  src:  url('Ubuntu.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham';
  src:  url('Gotham.ttf') format('truetype');
}
@font-face {
  font-family: 'Intro';
  src:  url('Intro.otf') format('opentype');
}
@font-face {
  font-family: 'TradeGothic';
  src:  url('TradeGothic.ttf') format('truetype');
}
@font-face {
  font-family: 'Anivers';
  src:  url('Anivers.otf') format('opentype');
}
@font-face {
  font-family: 'Montserrat';
  src:  url('Montserrat-UltraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Glyphicons';
  src:  url('glyphicons.ttf') format('truetype');
}




*{
	font-family: Ubuntu, sans-serif;
	font-size: 1em;
	color: #ccc;
}
img{
	margin: 0px;
	padding: 0px;
}

*:focus{
	outline: none;
}

li, li>a{
	font-family: Sansation, sans-serif;
}
a{
	text-decoration: none;
}
button{
	background: #444;
	border: none;
	cursor: pointer;
	padding: 10px 30px;
	border-radius: 20px;
	color: #fff;
	font-size: 1.1em;
}
button:hover{
	background: rgba(57,179,234,1);
	transition: 0.1s ease;
}

.colorgreen{
	color: #00e673;
}
.colorred{
	color: #c23434;
}
.pointer{
	cursor: pointer;
}

body{
	margin: 0px;
	background-color: #1D1D1D;
}


hr{
	clear: both;
	border: none;
	margin: 70px 5px; 
}

input{
	border-radius: 25px;
	border: 1px #555 solid;
	padding: 6px 10px;
	width: 430px;
	transition: 0.3s ease;
	background: #444;
}
select{
	border-radius: 25px;
	border: 1px #555 solid;
	padding: 6px 10px;
	width: 430px;
	transition: 0.3s ease;
	background: #444;
}
textarea{
	border-radius: 25px;
	border: 1px #555 solid;
	padding: 6px 10px;
	width: 430px;
	transition: 0.3s ease;
	background: #444;
}


.marginTop10{
	margin-top: 10px !important;
}

.marginBottom10{
	margin-bottom: 10px !important;
}

.marginRight10{
	margin-right: 10px !important;
}
.marginAuto{
	margin-left: auto;
	margin-right: auto;
	display: block;
}






#containerHead.slide{
	width: 100%;
	height: 420px;
	background-size: 100%;
	background-position: center;
}
#containerHead.profile{
	width: 100%;
	height: 350px;
	background-size: 100%;
	background-position: center;
}
#containerHead.creation{
	width: 100%;
	height: 270px;
	background-size: 100%;
	background-position: center;
}
#containerHead.message{
	width: 100%;
	height: 190px;
	background-size: 100%;
	background-position: center;
}
#wrapperMessageCover{
	width: 960px;
	height: 155px;
	margin: 0px auto 0px auto;
	overflow: hidden;
	background-size: cover;
	padding-top: 110px;
	background: url("../img/bbb.jpg");
}
#wrapperMessageCover h1{
	font-family: Gotham;
	font-size: 4.5em;
	margin: 0px 0px 0px 20px;
	color: #fff;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
}
#wrapperMessageCover p{
	font-size: 1.1em;
	margin: -5px 0px 0px 50px;
	font-family: gotham;
	color: #fff;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
	width: 520px;
}

#containerHeadOverlay{
	width: 100%;
	height: 470px;
	background-size: 100%;
	background-position: center;
}

#wrapperProfileBasicInfo{
	width: 960px;
	margin: 0px auto 0px auto;
	overflow: hidden;
	background-size: cover;
}
#wrapperProfileBasicInfoOverlay{
	width: 960px;
	margin: 0px auto 0px auto;
	overflow: hidden;
	padding: 100px 0px 10px 10px;
	background: url('../img/coverdarkening.png');
	background-repeat: repeat-x;
	background-position: bottom;
}
#wrapperProfileBasicInfo img{
	width: 250px;
	height: 250px;
	margin: 0px 0px 0px 0px;
	float: left;
	border-radius: 100%;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
}
#containerProfileBasicInfo{
	width: 685px;
	margin: 95px 0px 0px 15px;
	float: left;
}
#containerProfileBasicInfo h1{
	font-family: Gotham;
	font-size: 2.5em;
	margin: 0px;
	color: #fff;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
}
#containerProfileBasicInfo h2{
	font-size: 1.3em;
	margin: 0px 0px 0px 15px;
	font-family: tradegothic;
	color: #fff;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
}
#containerProfileTotalViewCreations{
	margin: 15px 0px 0px 7px;
	overflow: hidden;
	height: 45px;
	padding-top: 5px;
	border-top: 1px #fff solid;
	width: 500px;
}
#ProfileTotalView, #ProfileTotalCreations{
	padding: 0px 10px;
	float: left;
	height: 55px;
	font-family: Montserrat;
	font-size: 2em;
	color: #fff;
}
#ProfileTotalView span, #ProfileTotalCreations span{
	font-family: Sansation;
	font-size: 0.6em;
	position: relative;
	top: -5px;
	color: #fff;
}
#btneditProfil, #moreDetail, .paramButton{
	position: absolute;
	margin: 205px 0px 0px -160px;
	padding: 5px 15px;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 25px;
	font-family: gotham;
	color: rgb(255, 255, 255);
	background: none;
}
#moreDetail, .paramButton{
	position: static;
	margin: 10px 0px 10px 0px;
	width: 100%;
	padding: 5px 0px;
	text-align: center;
}
#btneditProfil:hover, #moreDetail:hover, .paramButton:hover{
	background-color: #fff;
	color: #333;
	transition: 0.2s ease;	
}
.paramButton .icon:hover{
	color: rgb(255, 230, 46);
}
#editProfilePhoto{
	width: 300px;
	height: 300px;
	border-radius: 100%;
}
.profileDescription{
	width: 800px;
	background-color: #333;
	padding: 10px 50px;
}




#wrapperCreationBasicInfo{
	width: 960px;
	margin: 0px auto 0px auto;
	background-size: cover;
	height: 280px;
}
#wrapperCreationBasicInfoOverlay{
	width: 950px;
	margin: 0px auto 0px auto;
	padding: 0px 0px 10px 10px;
	background: url('../img/coverdarkening.png');
	background-repeat: repeat-x;
	background-position: bottom;
	height: 280px;
}
#wrapperCreationBasicInfo img{
	width: 250px;
	height: 250px;
	margin: 0px 0px 0px 20px;
	float: left;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
	position: relative;
	top: 165px;
}
#containerCreationBasicInfo{
	width: 650px;
	margin: 180px 0px 0px 20px;
	float: left;
	height: 90px;
}
#containerCreationBasicInfo h1{
	font-family: Gotham;
	font-size: 2.5em;
	margin: 0px;
	color: #fff;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
}
#containerCreationBasicInfo p{
	font-size: 1.1em;
	margin: 0px 0px 0px 15px;
	width: 550px;
	font-family: tradegothic;
	color: #fff;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
}
#containerCreationTotalViewCreations{
	margin: 15px 0px 0px 7px;
	overflow: hidden;
	height: 45px;
	padding-top: 5px;
	border-top: 1px #fff solid;
	width: 500px;
}
#CreationTotalView, #CreationTotalCreations{
	padding: 0px 10px;
	float: left;
	height: 55px;
	font-family: Montserrat;
	font-size: 2em;
	color: #fff;
}
#CreationTotalView span, #CreationTotalCreations span{
	font-family: Sansation;
	font-size: 0.6em;
	position: relative;
	top: -5px;
	color: #fff;
}
.containerInfoCategoryCreators{
	width: 640px;
	height: 100px;
	margin: 10px 0px 0px 270px;
}
.containerParamRateShareDate{
	width: 260px;
	float: left;
	margin-top: 30px;
}
.containerParam{
	font-size: 1.1em;
	text-align: center;
	height: 45px;
}
.containerParam span.icon{
	font-size: 1.6em;
	position: relative;
	top: 6px;
	margin: 0px 0px 0px 10px;
}
.containerRate h3{
	font-size: 2.6em;
	text-align: center;
	margin: 0px 0px 0px 0px;
	font-family: gotham;
}
.containerRate h3 span{
	font-size: 0.6em;
	text-align: center;
	margin: 0px 0px 0px 0px;
	top: -5px;
	position: relative;
	font-weight: normal;
	font-family: sansation;
}
.containerRate .rate{
	font-size: 1.3em;
	text-align: center;
}
.containerDate{
	margin: 15px 0px 0px;
	font-size: 1em;
	text-align: center;
}
.containerDate h3{
	margin: 0px;
	font-size: 1.5em;
}
.containerDescPhoto{
	width: 645px;
	float: right;
	margin-top: 20px;
	padding-bottom: 70px
}
.containerPhoto img{
	height: 150px;
}
.containerComment .comment{
	min-height: 140px;
	width: 860px;
	margin: 5px auto;
}
.comment img{
	height: 100px;
	border-radius: 100%;
	display: block;
	float: left;
}
.comment .commentContent{
	width: 750px;
	float: left;
	padding: 0px 0px 0px 10px;
}
.comment .commentContent h1{
	font-size: 1.3em;
	margin: 10px 0px 0px;
}
.comment .commentContent h3{
	padding-left: 10px;
	margin: 0px;
	font-weight: normal;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(68, 68, 68);
	font-size: 0.8em;
}
.comment .commentContent p{
    margin: 5px 0px 0px 10px;
}








#registeredUserList, #profileTableDataDiri, #pendingCreationsList{
	width: 900px;
}
#registeredUserList thead td, #profileTableDataDiri thead td, #pendingCreationsList thead td{
	font-family: gotham;
	font-size: 1.3em;
	padding: 10px;
}
#registeredUserList tbody td, #profileTableDataDiri tbody td, #pendingCreationsList tbody td{
	margin: 0px;
	padding: 10px;
	border: 0px;
	font-size: 1.2em;
}
#registeredUserList tbody>tr:nth-child(odd), #profileTableDataDiri tbody>tr:nth-child(odd), #pendingCreationsList tbody>tr:nth-child(odd){
	background-color: #333;
}
#pendingCreationsList tbody td span{
	margin: 0px 10px;
	font-size: 1.8em;
}







#wrapperCreationsCover{
	width: 960px;
	height: 155px;
	margin: 0px auto 0px auto;
	overflow: hidden;
	background-size: cover;
	padding-top: 215px;
}
#wrapperCreationsCover h1{
	font-family: Gotham;
	font-size: 4.5em;
	margin: 0px 0px 0px 20px;
	color: #fff;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
}
#wrapperCreationsCover p{
	font-size: 1.1em;
	margin: -5px 0px 0px 50px;
	font-family: gotham;
	color: #fff;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
	width: 520px;
}
#btnUpload{
	height: 120px;
	width: 120px;
	position: absolute;
	margin: 15px 0px 0px 820px;
	background: rgba(0,0,0,0.5);
	border-radius: 100px;
	transition: 0.1s ease;
	overflow: hidden;
}
#btnUpload span.icon{
	margin: 25px 0px 0px 5px;
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 4em;
	float: left;
	position: relative;
	left: 25px;
	top: 0px;
	width: 65px;
}
#btnUpload:hover{
	width: 220px;
	transition: 0.2s ease;
	margin-left: 720px;
	background: rgba(57,179,234,0.9);
}
#btnUpload span{
	font-size: 1.4em;
	display: block;
	float: right;
	position: relative;
	left: 30px;
	top: 30px;
	width: 150px;
	color: #fff;
}




#containerFixedTitle{
	width: 100%;
	height: 50px;
	background-color: rgba(54, 54, 54, 0);
	position: fixed;
	z-index: 99;
	transition: 0.4s ease;
}
#containerFixedTitle.show{
	background-color: rgba(54, 54, 54, 1);
	transition: 0.4s ease;
}


#containerTitle{
	width: 960px;
	height: 60px;
	margin: 0px auto;
}

#containerTitle>img{
	float: left;
	height: 45px;
	width: 200px;
	position: relative;
	top: 5px;
}

#containerSearchTitle{
	float: right;
	width: 40px;
	overflow: hidden;
	margin: 8px -8px 0px 0px;
	transition: 0.3s ease;
}

#containerSearchTitle>input{
	border-radius: 25px;
	border: 0px #555 solid;
	padding: 0px 0px;
	width: 0px;
	transition: 0.3s ease;
	background-color: rgba(54,54,54,1);
}

#searchBtn{
	width: 30px;
	height: 30px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	border: none;
	position: relative;
	float: left;
	top: -32px;
	left: -10px;
	color: #fff;
	font-size: 1.3em;
	transition: 0.3s ease;
	cursor: default;
}

#containerSearchTitle.active{
	float: right;
	width: 460px;
	overflow: hidden;
	margin: 8px -450px 0px 0px;
	transition: 0.3s ease;
}

#containerSearchTitle.active>input{
	border-radius: 25px;
	border: 1px #555 solid;
	padding: 6px 10px;
	width: 430px;
	transition: 0.3s ease;
}

#searchBtn.active{
	width: 30px;
	height: 30px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	border: none;
	position: relative;
	float: left;
	top: -47px;
	left: 400px;
	color: #ccc;
	transition: 0.3s ease;
}

#containerBtnTitle{
	float: right;
	height: 100%;
	min-width: 130px;
	overflow: hidden;
	margin: 0px 0px 0px 20px;
	padding-top: 5px;
}
#containerBtnTitle a, #containerLoginBtnTitle a{
	float: right;
}
#containerBtnTitle .button, #login, #logout{
	font-size: 1em;
	font-family: Intro, sans-serif;
	border: 0px;
	padding: 10px 15px;
	float: right;
	margin: 0px 3% 0px 0px;
	background-color: rgba(0,0,0,0);
	color: white;
	border-bottom: 7px rgba(57,179,234,0) solid;
	transition: 0.1s ease;
	border-radius: 0px;
	width: auto;
	cursor: default;
	white-space: nowrap;
}
#containerBtnTitle .button.active{
	background-color: rgba(57, 179, 234, 0.7);
	position: relative;
	top: -5px;
	padding-top: 15px;
	transition: 0.2s ease;
}
#containerFixedTitle.show #containerBtnTitle .button.active{
	background-color: rgba(57, 179, 234, 1);
	transition: 0.2s ease;
}

#containerLoginBtnTitle{
	float: right;
	padding-left: 5px;
	height: 100%;
	overflow: hidden;
	margin: 0px 10px 0px 5px;
	padding-top: 5px;
}
#containerLoginBtnTitle .divider{
	background-color: #fff;
	width: 2px;
	float: right;
	height: 35px;
	margin: 3px 5px 0px 0px;
}
#login{
}

#containerBtnTitle .button:hover, #login:hover, #logout:hover{
	padding-top: 12px;
	transition: 0.1s ease;
	border-bottom: 7px rgba(57,179,234,1) solid;
}

#containerLoginBox{
	width: 280px;
	height: 0px;
	position: absolute;
	background-color: #292929;
	margin: 10px 0px 0px 640px;
	padding: 20px 10px 15px 10px;
	opacity: 0;
	transition: 0.2s ease;
	z-index: -1;
	overflow: hidden;
	border-radius: 10px
}
#containerLoginBox.show{
	height: 230px;
	opacity: 1;
	transition: 0.2s ease;
	z-index: 1;
	box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.2);
}
#containerLoginBox *{
	z-index: -5;
}
#containerLoginBox.show *{
	z-index: 1;
}
#containerLoginBox form{
	margin: 0px;
	width: 280px;
	height: 165px;
	overflow: hidden;
	text-align: center;
	border-bottom: 4px rgb(156, 156, 156) solid;
	transition: 0.2s ease;
}
#containerLoginBox.show form{
	height: 230px;
	border-bottom: 6px rgba(57,179,234,1) solid;
	transition: 0.2s ease;
}
#containerLoginBox form label{
	display: block;
	margin: 5px auto;
	font-family: gotham;
}
#containerLoginBox form input{
	display: block;
	margin: auto;
	background: #363636;
	width: 240px;
}
#containerLoginBox form #validator{
	display: block;
	margin: auto;
	opacity: 0;
	font-size: 0.8em;
	height: 0px;
}
#containerLoginBox form #validator.show{
	opacity: 1;
	height: 15px;
}
#containerLoginBox form input.warning{
	border: #c23434 2px solid;
}
#containerLoginBox form input.submit{
	padding: 5px 20px;
	border-radius: 25px;
	font-size: 1.1em;
	margin: 10px auto 0px auto;
}
















#containerSlide{
	width: 1050px;
	padding-top: 150px;
	margin: auto;
	position: absolute;
	left: 0px;
	right: 0px;
}

.slideImg{
	width: 100%;
	height: 430px;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	z-index: -1;
	opacity: 0;
	transition: 0.3s ease;
}
.slideImg.active{
	opacity: 1;
	transition: 0.3s ease;
}


#slidePrev, #slideNext{
	position: absolute;
	width: 130px;
	height: 130px;
	background: none;
	background-image: url("../img/prev.png");
	background-size: cover;
	opacity: 0.4;
	transition: 0.1s ease;
	margin-left: 0px;
	z-index: 1;
}

#slideNext{
	margin-left:920px;
	background-image: url("../img/next.png");
}

#slidePrev:hover{
	opacity: 1;
	margin-left: -10px;
	transition: 0.2s ease;
}

#slideNext:hover{
	opacity: 1;
	margin-left: 930px;
	transition: 0.2s ease;
}

#containerSlide ul{
	width: 185px;
	margin: 240px 0px 0px 400px;
	cursor: pointer;
}

#containerSlide ul li{
	width: 15px;
	height: 15px;
	background-color: #fff;
	border-radius: 100%;
	list-style-type: none;
	display: inline-block;
	margin-left: 7px;
	opacity: 0.3;
	transition: 0.1s ease;
}

#containerSlide li:hover, #containerSlide li.active{
	width: 17px;
	height: 17px;
	opacity: 1;
	transition: 0.2s ease;
}

#slideInfo{
	margin-top: 0px;
	height: 0px;
	position: absolute;
}
#slideInfo div{
	height: 0px;
	opacity: 0;
	margin-top: -235px;
	transition: 0.2s ease;
	margin-left: 100px;	
}
#slideInfo div.active{
	margin-top: -235px;
	opacity: 1;
	transition: 0.2s ease;
}
#slideInfo div img{
	max-height: 280px;
	max-width: 250px;
	display: block;
	position: absolute;
	margin: -20px 0px 0px 755px;
}
#slideInfo div.active img{
	margin: -20px 0px 0px 725px;
	transition: 0.3s ease;
}
#slideInfo div h1{
	width: 800px;
	text-align: right;
	font-size: 2.9em;
	color: white;
	float: right;
	margin: 75px 325px 0px 40px;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
	font-family: Intro;
	position: absolute;
}
#slideInfo div.active h1{
	margin: 90px 325px 0px 40px;
	transition: 0.5s ease;
}
#slideInfo div p{
	color: white;
	float: right;
	height: 50px;
	width: 630px;
	text-align: right;
	margin: 150px 0px 0px 155px;
	font-size: 1.1em;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
	font-family: Gotham;
	position: absolute;
}
#slideInfo div.active p{
	margin: 150px 0px 0px 200px;
	transition: 0.9s ease;
}





#containerBody{
	width: 960px;
	background-color: #292929;
	margin: 10px auto 0px auto;
	box-shadow: 0px 2px 5px #000;
	overflow: hidden;
}

#menu, #submenu, #creationscategory{
	width: 940px;
	height: 50px;
	overflow: hidden;
	padding: 10px;
}

#menu ul,#submenu ul,#creationscategory ul{
	margin: 0px auto;
	height: 100%;
	padding: 0px;
	width: 100%;
}

#submenu{
	height: 0px;
	width: 930px;
	padding: 0px;
	position: absolute;
	overflow: unset;
	transition: 0.1s ease;
}
#submenu.show{
	height: 70px;
	transition: 0.1s ease;
}
#submenu ul{
	background-color: #fff;
	height: 0px;
	width: 430px;
	padding:0px;
	margin: 0px 0px 0px 200px;
	box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.4);
	transition: 0.1s ease;
	opacity: 0;
	border: 1px solid #ccc;
}
#submenu.show ul{
	height: 30px;
	width: 900px;
	padding:5px;
	margin: 5px 0px 0px 10px;
	transition: 0.3s ease;
	opacity: 1;
}
#submenu img{
	height: 0px;
	width: 0px;
	opacity: 0;
	position: absolute;
	margin: 0px 0px 0px 385px;
	transition: 0.2s ease;
}
#submenu.show img{
	height: 10px;
	width: 40px;
	opacity: 1;
	margin: -4px 0px 0px 365px;
	transition: 0.3s ease;
}



#menu li, #creationscategory li{
	font-size: 1.2em;
	margin: 0% 1%;
	list-style-type: none;
	float: left;
	width: 23%;
	height: 40px;
	padding-top: 10px;
	text-align: center;
	color: #9c9c9c;
	border-radius: 35px;
	transition: 0.2s ease;
	font-family: gotham;
}
#creationscategory.admin li{
	width: 30%;
}
#creationscategory li{
	width: 18%;
	font-size: 1.1em;
	padding-top: 5px;
}
#creationscategory li span{
	font-size: 1.4em;
	margin-right: 10px;
	position: relative;
	top: 5px;
	transition: 0.2s ease;
}

#submenu li{
	width: 18%;
	font-size: 1.0em;
	height: 25px;
	padding-top: 5px;
	border-radius: 15px;
	transition: 0.2s ease;
}


#menu li.active, #creationscategory li.active{
	background: #333;
	font-weight: bold;
	color: #fff;
}
#menu li.active:hover, #creationscategory li.active:hover{
	background: #333;
	color:  #fff;
}


#menu li:hover, #creationscategory li:hover{
	background-color: #39B3EA;
	transition: 0.2s ease;
	color: white;
}
#creationscategory li:hover span{
	color: white;
	transition: 0.2s ease;
}
#menu li.hovered{
	background-color: #39B3EA;
	transition: 0.2s ease;
	color: white;
}

#menu .divider{
	background-color: #ccc;
	height: 50px;
	width: 2px;
	margin: 10px 1px;
	float: left;
}

article{
	width: 920px;
	padding: 10px 25px;
	overflow: hidden;
	float: left;
}

article.half{
	width: 700px;
	padding: 30px 10px;
	border-right: #ccc solid 1px;
}

#containerPage{
	margin: 10px auto;
	padding: 10px 10px;
	height: 35px;
	float: right;
}

#containerPage li{
	border-radius: 100%;
	width: 40px;
	height: 32px;
	margin-right: 3px;
	background-color: #ddd;
	list-style-type: none;
	text-align: center;
	padding-top: 8px;
	color: #fff;
	font-size: 1.2em;
	display: inline-block;
	transition: 0.1s ease;
	cursor: pointer;
}

#containerPage li.active{
	background-color: #39B3EA;
}

#containerPage li:hover{
	background-color: #39B3EA;
	transition: 0.2s ease;
}



.button{
	clear: both;
	padding: 8px 20px;
	background-color: #333;
	border-radius: 30px;
	text-decoration: none;
	width: 100px;
	text-align: center;
	float: right;
	margin: 10px;
	color: white;
	font-family: Sansation;
	cursor: pointer;
	transition: 0.2s ease;
}
.button:hover{
	background-color: rgba(57,179,234,1);
	color: white;
	transition: 0.2s ease;
}
.button span.icon{
	color: white;
	margin-right: 3px;
}



.button.more:hover{
	width: 120px;
}
.button.more:hover span{
	margin-left: -30px;
	transition: 0.2s ease;
}




aside{
	width: 230px;
	float: left;
	padding: 0px 10px;
	margin-top: 35px;
}

aside h1{
	margin: 0px;
	padding: 5px 10px;
	font-size: 1.7em;
	background-color: #39B3EA;
	color: #fff;
	width: 100%;
}

aside ul{
    text-decoration: none;
    font-family: arial;
    margin: 10px 0px;
    padding: 0px 5px;
    width: 245px;
}

aside li{
	list-style-type: none;
	font-family: arial;
	border-bottom: 1px #ccc solid;
	padding: 8px 10px;
}

aside li:hover{
	background-color: #eee;
}









.loginBtn{
	margin: 10px 1px;

}

.containerProduct{
	width: 665px;
	min-height: 200px;
	padding: 0px 10px 10px 10px;
	margin: 10px auto 10px auto;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

.containerProduct h1{
	width: 100%;
	height: 50px;
	margin: 0px;
	padding: 0px;
	font-size: 1.9em;
	font-family: Abel;
	color: #3D5877;
}

.containerProduct h2{
	width: 100%;
	height: 18px;
	margin: 0px 10px 10px 10px;
	padding: 0px 0px;
	font-size: 1.1em;
	font-family: Abel;
	color: #999;
}

.containerProduct img{
	width: 130px;
	height: 130px;
	padding: 10px;
	float: left;
}

.containerProduct .deskripsi{
	width: 500px;
	height: 145px;
	margin-left: 15px;
	float: left;
	overflow: hidden;
}

.containerProduct button{
	margin-left: 580px;
	padding: 0px 20px;
	width: 90px;
	height: 30px;
	float: left;
	background-color: #39B3EA;
	border: none;
	color: #fff;
	text-align: center;
	border-radius: 30px;
	font-size: 0.9em;
}

#containerProfile{
	padding: 50px;

}

#profileTable{

}

#containerAvatar{
	float: right;
}

#imageProfile{
	border: 1px;
	width: 200px;
	height: 200px;
	padding: 50px;
}

#tombolEditProfile{
		margin: 100px;
}

#tombolUbahPassword{
		margin: 70px;
}

#profileHasilKarya{
	width: 730px;
	height: 350px;
	border: 1px #ccc solid;
	background-color: #888888;
}

#editProfileButton{
	margin-left: 220px;

	
}

#imageEditHasilKarya{
	width: 200px;
	height: 200px;	
}

tr{
	height: 40px;
}




.scrollNext{
	width: 20px;
	height: 192px;
	box-shadow: -18px 0px 7px 5px rgba(0,0,0,0.2);
	background-color: #292929;
	position: absolute;
	display: table;
	margin: 15px 0px 0px 900px;
	padding-left: 5px;
	cursor: pointer;
	transition: 0.2s ease;
}
.scrollNext span{
	vertical-align: middle;
	display: table-cell;
	color: #aaa;
	transition: 0.2s ease;
}
.scrollNext:hover{
	margin: 15px 0px 0px 895px;
	width: 25px;
	transition: 0.2s ease;
}
.scrollNext:hover span{
	font-size: 1.2em;
	color: #777;
	transition: 0.2s ease;
}

.scrollPrev{
	opacity: 0;
	width: 20px;
	height: 192px;
	box-shadow: 18px 0px 7px 5px rgba(0,0,0,0.2);
	background-color: #292929;
	position: absolute;
	display: table;
	margin: 15px 0px 0px -4px;
	padding-left: 5px;
	cursor: pointer;
	transition: 0.2s ease;
}
.scrollPrev span{
	vertical-align: middle;
	display: table-cell;
	color: #aaa;
	transition: 0.2s ease;
}
.scrollPrev:hover{
	margin: 15px 0px 0px -4px;
	width: 25px;
	transition: 0.2s ease;
}
.scrollPrev:hover span{
	font-size: 1.2em;
	color: #777;
	transition: 0.2s ease;
}





.wrapperCreations4x{
	width: 915px;
	overflow: hidden;
	margin: auto;
}
.containerCreations4x.scrollable{
	width: 1500px;
	height: 220px;
	overflow: hidden;
	margin: 0px;
	transition: 0.3s ease;
}
.containerCreations4x.scrollable div{
	width: 270px;
	height: 210px;
	float: left;
	margin: 6px;
	background-position: center;
	background-size: cover;
	border: 1px solid #333;
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1);
	cursor: pointer;
}
.containerCreations4x.scrollable div.info{
	width: 260px;
	height: 42px;
	padding: 5px;
	margin: 0px;
	margin-top: 160px;
	background-color: rgba(54,54,54,1);
	overflow: hidden;
	border-radius: 0px;
	border: none;
	transition: 0.1s ease;
}
.containerCreations4x.scrollable div:hover div.info{
	height: 210px;
	transition: 0.2s ease;
	margin: 0px;
	background-color: rgba(0,0,0,0.7);
}
.containerCreations4x.scrollable div:hover div.info h1{
	margin: 10px 0px 0px 0px;
	font-size: 1.5em;
	transition: 0.4s ease;
	color: white;
}
.containerCreations4x.scrollable div h1{
	width: 260px;
	float: left;
	font-size: 1.3em;
	font-family: Anivers;
	margin: -3px 0px 0px 0px;
	color: #ccc;
	transition: 0.1s ease;
	font-weight: normal;
	text-align: center;
}
.containerCreations4x.scrollable div:hover div.info h2{
	font-size: 0.9em;
	transition: 0.4s ease;
	color: white;
}
.containerCreations4x.scrollable div h2{
	font-size: 0.8em;
	font-family: Ubuntu	;
	color: #ccc;
	width: 260px;
	margin: 15px 0px 0px 0px;
	transition: 0.1s ease;
	font-weight: normal;
	text-align: center;
}
.containerCreations4x.scrollable div .thumbCreators{
	height: 30px;
	width: 30px;
	border-radius: 100%;
	display: block;
	margin: -28px 0px 0px 120px;
	transition: 0.2s ease;
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.3);
	opacity: 0;
}
.containerCreations4x.scrollable div:hover div.info .thumbCreators{
	margin: 5px 0px 0px 100px;
	transition: 0.2s ease;
	height: 70px;
	width: 70px;
	opacity: 1;
}
.containerCreations4x.scrollable div div.info .parameter{
	border: none;
	width: 250px;
	height: auto;
	box-shadow: none;
	text-align: center;
	font-size: 0.9em;
	opacity: 0;
}
.containerCreations4x.scrollable div:hover div.info .parameter{
	opacity: 1;
	transition: 0.4s ease;
}
.containerCreations4x.scrollable div div.info .parameter span{
	text-align: center;
	color: white;
}
.containerCreations4x.scrollable div div.info .rate{
	border: none;
	width: 250px;
	height: auto;
	box-shadow: none;
	text-align: center;
	opacity: 0;
	margin-top: -3px;
}
.containerCreations4x.scrollable div div.info .rate span{
	text-align: center;
	color: white;
}
.containerCreations4x.scrollable div:hover div.info .rate{
	opacity: 1;
	transition: 0.4s ease;
}




.containerCreations4x{
	width: 915px;
	min-height: 220px;
	overflow: hidden;
	margin: 0px auto;
	transition: 0.3s ease;
}
.containerCreations4x div{
	width: 210px;
	height: 170px;
	float: left;
	margin: 6px;
	background-position: center;
	background-size: cover;
	border: 1px solid #333;
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1);
	cursor: pointer;
}
.containerCreations4x div.remove{
	width: 30px;
	height: 30px;
	position: absolute;
	margin: 5px 0px 0px 175px;
	box-shadow: 0px 0px 0px 0px;
	border: 0px;
	opacity: 0.5;
}
.containerCreations4x div.remove:hover{
	opacity: 1;
	transition: 0.2s ease;
}
.containerCreations4x div.remove span{
	font-size: 1.7em;
}

.containerCreations4x div.info{
	width: 200px;
	height: 30px;
	padding: 5px;
	margin: 0px;
	margin-top: 145px;
	background-color: rgba(54,54,54,1);
	overflow: hidden;
	border-radius: 0px;
	border: none;
	transition: 0.1s ease;
}
.containerCreations4x div:hover div.info{
	height: 170px;
	transition: 0.2s ease;
	margin: 0px;
	background-color: rgba(0,0,0,0.7);
}
.containerCreations4x div:hover div.info h1{
	margin: 0px 0px 0px 0px;
	font-size: 1.4em;
	transition: 0.4s ease;
	color: white;
}
.containerCreations4x div h1{
	width: 200px;
	float: left;
	font-size: 1.2em;
	font-family: Anivers;
	margin: -3px 0px 0px 0px;
	color: #ccc;
	transition: 0.1s ease;
	font-weight: normal;
	text-align: center;
}
.containerCreations4x div:hover div.info h2{
	font-size: 0.8em;
	transition: 0.4s ease;
	color: white;
}
.containerCreations4x div h2{
	font-size: 0.8em;
	font-family: Ubuntu;
	color: #ccc;
	width: 200px;
	margin: 15px 0px 0px 0px;
	transition: 0.1s ease;
	font-weight: normal;
	text-align: center;
}
.containerCreations4x div .thumbCreators{
	height: 30px;
	width: 30px;
	border-radius: 100%;
	display: block;
	margin: -28px 0px 0px 120px;
	transition: 0.2s ease;
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.3);
	opacity: 0;
}
.containerCreations4x div:hover div.info .thumbCreators{
	margin: 5px 0px 0px 75px;
	transition: 0.2s ease;
	height: 60px;
	width: 60px;
	opacity: 1;
}
.containerCreations4x div div.info .parameter{
	border: none;
	width: 190px;
	height: auto;
	box-shadow: none;
	text-align: center;
	font-size: 0.9em;
	opacity: 0;
}
.containerCreations4x div:hover div.info .parameter{
	opacity: 1;
	transition: 0.4s ease;
	font-size: 0.8em;
}
.containerCreations4x div div.info .parameter span{
	text-align: center;
	color: white;
}
.containerCreations4x div div.info .rate{
	border: none;
	width: 190px;
	height: auto;
	box-shadow: none;
	text-align: center;
	opacity: 0;
	margin-top: -3px;
}
.containerCreations4x div div.info .rate span{
	text-align: center;
	color: white;
}
.containerCreations4x div:hover div.info .rate{
	opacity: 1;
	transition: 0.4s ease;
	font-size: 0.9em;
}





.containerCreationsBasicInfo{
	width: 870px;
	overflow: hidden;
	box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
	margin: auto;
	padding: 10px;
	height: 345px;
}
.containerCreationsBasicInfo img{
	width: 350px;
	float: left;
}
.containerCreationsBasicInfo .containerInfo{
	width: 500px;
	margin-left: 15px;
	float: left;
	height: 330px;
}
.containerCreationsBasicInfo h1{
	color: #9c9c9c;
	font-size: 2.0em;
	margin: 5px;
	font-family: Anivers;
}
.containerCreationsBasicInfo h2,.containerCreationsBasicInfo h3, .containerInfoCategoryCreators h2,.containerInfoCategoryCreators h3{
	background: rgb(255, 230, 46) none repeat scroll 0% 0%;
	margin: 0px 0px 10px;
	color: rgb(255, 255, 255);
	font-size: 1.2em;
	padding: 8px 20px;
	border-radius: 25px 0px 0px 25px;
	width: 170px;
	text-align: center;
	float: left;
}
.containerCreationsBasicInfo h3, .containerInfoCategoryCreators h3{
	width: 250px;
	background-color: #333;
	border-radius: 0px 25px 25px 0px;
}
.containerCreationsBasicInfo .creators, .containerInfoCategoryCreators .creators{
	width: 490px;
	height: 40px;
	margin: 0px 0px 0px 0px;
	background-color: #333;
	border-radius: 25px;
	padding-left: 10px;
	float: left;
}
.containerCreationsBasicInfo .creators span, .containerInfoCategoryCreators .creators span{
	margin: 8px 0px 0px 10px;
	display: block;
	float: left;
	font-size: 1.2em;
	color: #9c9c9c;
}
.containerCreationsBasicInfo .creators img, .containerInfoCategoryCreators .creators img{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	margin: -5px 0px 0px 0px;
	float: left;
}
.containerCreationsBasicInfo p{
	float: left;
	height: 177px;
	overflow: hidden;
	margin-bottom: 0px;
}
.containerCreationsBasicInfo .readMoreCreations{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	/*position: absolute;*/
	background-color: #ccc;
	transition: 0.2s ease;
	margin: 300px 0px 0px 815px;
	background-color: rgba(54,54,54,0.7);
	overflow: hidden;
	position: relative;
	top: -35px;
}
.containerCreationsBasicInfo .readMoreCreations span{
	color: #fff;
}
.containerCreationsBasicInfo .readMoreCreations .text{
	opacity: 0;
	display: block;
	transition: 0.2s ease;
}
.containerCreationsBasicInfo .readMoreCreations .icon{
	margin: 12px 0px 0px 12px;
	font-size: 1.5em;
}
.containerCreationsBasicInfo .readMoreCreations:hover{
	width: 150px;
	transition: 0.2s ease;
	margin: 300px 0px 0px 725px;
	background-color: rgba(57,179,234,1);
	top: -45px;
}
.containerCreationsBasicInfo .readMoreCreations:hover .text{
	opacity: 1;
	margin: -26px 0px 0px 42px;
	font-size: 1.1em;
	transition: 0.2s ease;
}

















.containerCreators4x{
	overflow: hidden;
	margin: auto;

}
.containerCreators4x div{
	width: 910px;
	height: 185px;
	float: left;
	margin: 5px;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}
.containerCreators4x div img{
	/*position: absolute;*/
	width: 175px;
	height: 175px;
	border-radius: 100%;
	/*margin: 5px 0px 0px -915px;*/
	margin: 5px 0px 0px -905px;
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
	transition: 0.1s ease;
}
.containerCreators4x div.info{
	width: 730px;
	height: 150px;
	padding: 15px 5px 10px 105px;
	overflow: hidden;
	transition: 0.2s ease;
	box-shadow: 0px 4px 7px -2px rgba(0,0,0,0.4);
	margin-left: 65px;
	border-top: 1px solid #222;
}
.containerCreators4x div h1{
	width: 720px;
	float: left;
	font-size: 1.5em;
	font-family: Anivers;
	margin: -1px 0px 0px 20px;
	transition: 0.2s ease;
}
.containerCreators4x div h2{
	font-size: 0.9em;
	color: #9c9c9c;
	width: 700px;
	margin: 20px 0px 0px 30px;
	transition: 0.2s ease;
	border-bottom: 1px solid #555;
	padding-bottom: 5px;
	font-weight: normal;
	font-family: ubuntu;
}
.containerCreators4x div p{
	margin:7px 0px 0px 40px;
	overflow: hidden;
	font-size: 0.9em;
	width: 700px;
}
.containerCreators4x .readMoreCreations{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	position: absolute;
	background-color: #ccc;
	transition: 0.2s ease;
	/*margin: 120px 0px 0px 840px;*/
	margin: -65px 0px 0px 840px;
	background-color: rgba(54,54,54,0.7);
	overflow: hidden;
}
.containerCreators4x .readMoreCreations span{
	color: #fff;
}
.containerCreators4x .readMoreCreations .text{
	opacity: 0;
	display: block;
	transition: 0.2s ease;
}
.containerCreators4x .readMoreCreations .icon{
	margin: 12px 0px 0px 12px;
	font-size: 1.5em;
}
.containerCreators4x .readMoreCreations:hover{
	width: 150px;
	transition: 0.2s ease;
	/*margin: 120px 0px 0px 750px;*/
	margin: -65px 0px 0px 750px;
	background-color: rgba(57,179,234,1);
}
.containerCreators4x .readMoreCreations:hover .text{
	opacity: 1;
	margin: -26px 0px 0px 42px;
	font-size: 1.1em;
	transition: 0.2s ease;
}








.containerShowcase{
	width: 200px;
	padding: 5px;
	margin: 10px 8px;
	border: 1px #ccc solid;
	float: left;
}
.containerShowcase img{
	width: 170px;
	height: 170px;
	padding: 15px;
	float: left;
}
.containerShowcase h1{
	width: 160px;
	padding: 15px;
	float: left;
	margin-top: -10px;
	background-color: #222;
	color: #fff;
	opacity: 0.7;
	font-size: 1.4em;
}
.containerShowcase h2{
	width: 160px;
	padding: 0px 15px;
	float: left;
	margin-top: -10px;
	font-size: 1.2em;
	margin-bottom: 0px;
}

				  




.containerDetailed h1{
	font-size: 2.4em;
}
.containerDetailed img{
	width: 400px;
	margin: 10px auto;
	display: block;
}

.about_container{
	width:100%;
	height:200px;
}

.about{
	width: 200px;
	height: 200px;
	float: left;
}

article h1{
	font-family:  Anivers;
	color: #9c9c9c;
	font-size: 1.9em;
	margin: 5px;
	clear: both;
}

.borderBot{
	border-bottom: 1px solid #ddd;
}

.about1{
	width: 200px;
	height: 200px;
	float: right;
}

.buttonAll{
	background-color: gray;
}
.loginbox{
	height: 220px;
	border: 1px solid ;
	border-radius: 10px;
	background-color: darkgray;
}




















footer{
	width: 100%;
	background-color: #363636;
	margin: 25px auto 0px auto;
	/*box-shadow: 0px 2px 5px #ddd;*/
	overflow: hidden;
	height: 240px;
	text-align: center;
	padding: 20px 0px;
	color: #fff;
	/*border: 1px #eee solid;*/
}
footer .container{
	width: 960px;
	margin: 0px auto;
}
footer #left{
	height: 150px;
	width: 275px;
	float: left;
	text-align: left;
}
footer #left h1, footer #center h1, footer #right h1{
	margin: 0px 0px 10px 0px;
	font-size: 1.3em;
	color: #9c9c9c;
	font-family: Gotham;
	text-align: left;
}
footer #left img{
	height: 60px;
}
footer #center{
	height: 150px;
	width: 210px;
	float: left;
	text-align: left;
	margin-left: 10px;
}
footer #center ul{
	padding: 0px 0px 0px 10px;
}
footer #center li{
	list-style-type: none;
	margin: 10px 0px;
}
footer #center li a{
	text-decoration: none;
	font-family: gotham;
	transition: 0.2s ease;
}
footer #center li a:hover, footer #center li a:hover span{
	margin-left: 5px;
	color: rgba(57,179,234,1);
	transition: 0.1s ease;
}
footer #center li a span{
	margin-right: 5px;
	position: relative;
	top: 2px;
	transition: 0.2s ease;
}
footer #right{
	height: 150px;
	width: 450px;
	float: right;
}
footer #right p{
	text-align: left;
	margin: 0px 0px 0px 10px;
	color: #ccc;
}

















.icon{
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: Glyphicons;
  font-style: normal;
  font-weight: normal;
  line-height: 1;

}
.icon-asterisk:before {
  content: "\002a";
}
.icon-plus:before {
  content: "\002b";
}
.icon-euro:before,
.icon-eur:before {
  content: "\20ac";
}
.icon-minus:before {
  content: "\2212";
}
.icon-cloud:before {
  content: "\2601";
}
.icon-envelope:before {
  content: "\2709";
}
.icon-pencil:before {
  content: "\270f";
}
.icon-glass:before {
  content: "\e001";
}
.icon-music:before {
  content: "\e002";
}
.icon-search:before {
  content: "\e003";
}
.icon-heart:before {
  content: "\e005";
}
.icon-star:before {
  content: "\e006";
}
.icon-star-empty:before {
  content: "\e007";
}
.icon-user:before {
  content: "\e008";
}
.icon-film:before {
  content: "\e009";
}
.icon-th-large:before {
  content: "\e010";
}
.icon-th:before {
  content: "\e011";
}
.icon-th-list:before {
  content: "\e012";
}
.icon-ok:before {
  content: "\e013";
}
.icon-remove:before {
  content: "\e014";
}
.icon-zoom-in:before {
  content: "\e015";
}
.icon-zoom-out:before {
  content: "\e016";
}
.icon-off:before {
  content: "\e017";
}
.icon-signal:before {
  content: "\e018";
}
.icon-cog:before {
  content: "\e019";
}
.icon-trash:before {
  content: "\e020";
}
.icon-home:before {
  content: "\e021";
}
.icon-file:before {
  content: "\e022";
}
.icon-time:before {
  content: "\e023";
}
.icon-road:before {
  content: "\e024";
}
.icon-download-alt:before {
  content: "\e025";
}
.icon-download:before {
  content: "\e026";
}
.icon-upload:before {
  content: "\e027";
}
.icon-inbox:before {
  content: "\e028";
}
.icon-play-circle:before {
  content: "\e029";
}
.icon-repeat:before {
  content: "\e030";
}
.icon-refresh:before {
  content: "\e031";
}
.icon-list-alt:before {
  content: "\e032";
}
.icon-lock:before {
  content: "\e033";
}
.icon-flag:before {
  content: "\e034";
}
.icon-headphones:before {
  content: "\e035";
}
.icon-volume-off:before {
  content: "\e036";
}
.icon-volume-down:before {
  content: "\e037";
}
.icon-volume-up:before {
  content: "\e038";
}
.icon-qrcode:before {
  content: "\e039";
}
.icon-barcode:before {
  content: "\e040";
}
.icon-tag:before {
  content: "\e041";
}
.icon-tags:before {
  content: "\e042";
}
.icon-book:before {
  content: "\e043";
}
.icon-bookmark:before {
  content: "\e044";
}
.icon-print:before {
  content: "\e045";
}
.icon-camera:before {
  content: "\e046";
}
.icon-font:before {
  content: "\e047";
}
.icon-bold:before {
  content: "\e048";
}
.icon-italic:before {
  content: "\e049";
}
.icon-text-height:before {
  content: "\e050";
}
.icon-text-width:before {
  content: "\e051";
}
.icon-align-left:before {
  content: "\e052";
}
.icon-align-center:before {
  content: "\e053";
}
.icon-align-right:before {
  content: "\e054";
}
.icon-align-justify:before {
  content: "\e055";
}
.icon-list:before {
  content: "\e056";
}
.icon-indent-left:before {
  content: "\e057";
}
.icon-indent-right:before {
  content: "\e058";
}
.icon-facetime-video:before {
  content: "\e059";
}
.icon-picture:before {
  content: "\e060";
}
.icon-map-marker:before {
  content: "\e062";
}
.icon-adjust:before {
  content: "\e063";
}
.icon-tint:before {
  content: "\e064";
}
.icon-edit:before {
  content: "\e065";
}
.icon-share:before {
  content: "\e066";
}
.icon-check:before {
  content: "\e067";
}
.icon-move:before {
  content: "\e068";
}
.icon-step-backward:before {
  content: "\e069";
}
.icon-fast-backward:before {
  content: "\e070";
}
.icon-backward:before {
  content: "\e071";
}
.icon-play:before {
  content: "\e072";
}
.icon-pause:before {
  content: "\e073";
}
.icon-stop:before {
  content: "\e074";
}
.icon-forward:before {
  content: "\e075";
}
.icon-fast-forward:before {
  content: "\e076";
}
.icon-step-forward:before {
  content: "\e077";
}
.icon-eject:before {
  content: "\e078";
}
.icon-chevron-left:before {
  content: "\e079";
}
.icon-chevron-right:before {
  content: "\e080";
}
.icon-plus-sign:before {
  content: "\e081";
}
.icon-minus-sign:before {
  content: "\e082";
}
.icon-remove-sign:before {
  content: "\e083";
}
.icon-ok-sign:before {
  content: "\e084";
}
.icon-question-sign:before {
  content: "\e085";
}
.icon-info-sign:before {
  content: "\e086";
}
.icon-screenshot:before {
  content: "\e087";
}
.icon-remove-circle:before {
  content: "\e088";
}
.icon-ok-circle:before {
  content: "\e089";
}
.icon-ban-circle:before {
  content: "\e090";
}
.icon-arrow-left:before {
  content: "\e091";
}
.icon-arrow-right:before {
  content: "\e092";
}
.icon-arrow-up:before {
  content: "\e093";
}
.icon-arrow-down:before {
  content: "\e094";
}
.icon-share-alt:before {
  content: "\e095";
}
.icon-resize-full:before {
  content: "\e096";
}
.icon-resize-small:before {
  content: "\e097";
}
.icon-exclamation-sign:before {
  content: "\e101";
}
.icon-gift:before {
  content: "\e102";
}
.icon-leaf:before {
  content: "\e103";
}
.icon-fire:before {
  content: "\e104";
}
.icon-eye-open:before {
  content: "\e105";
}
.icon-eye-close:before {
  content: "\e106";
}
.icon-warning-sign:before {
  content: "\e107";
}
.icon-plane:before {
  content: "\e108";
}
.icon-calendar:before {
  content: "\e109";
}
.icon-random:before {
  content: "\e110";
}
.icon-comment:before {
  content: "\e111";
}
.icon-magnet:before {
  content: "\e112";
}
.icon-chevron-up:before {
  content: "\e113";
}
.icon-chevron-down:before {
  content: "\e114";
}
.icon-retweet:before {
  content: "\e115";
}
.icon-shopping-cart:before {
  content: "\e116";
}
.icon-folder-close:before {
  content: "\e117";
}
.icon-folder-open:before {
  content: "\e118";
}
.icon-resize-vertical:before {
  content: "\e119";
}
.icon-resize-horizontal:before {
  content: "\e120";
}
.icon-hdd:before {
  content: "\e121";
}
.icon-bullhorn:before {
  content: "\e122";
}
.icon-bell:before {
  content: "\e123";
}
.icon-certificate:before {
  content: "\e124";
}
.icon-thumbs-up:before {
  content: "\e125";
}
.icon-thumbs-down:before {
  content: "\e126";
}
.icon-hand-right:before {
  content: "\e127";
}
.icon-hand-left:before {
  content: "\e128";
}
.icon-hand-up:before {
  content: "\e129";
}
.icon-hand-down:before {
  content: "\e130";
}
.icon-circle-arrow-right:before {
  content: "\e131";
}
.icon-circle-arrow-left:before {
  content: "\e132";
}
.icon-circle-arrow-up:before {
  content: "\e133";
}
.icon-circle-arrow-down:before {
  content: "\e134";
}
.icon-globe:before {
  content: "\e135";
}
.icon-wrench:before {
  content: "\e136";
}
.icon-tasks:before {
  content: "\e137";
}
.icon-filter:before {
  content: "\e138";
}
.icon-briefcase:before {
  content: "\e139";
}
.icon-fullscreen:before {
  content: "\e140";
}
.icon-dashboard:before {
  content: "\e141";
}
.icon-paperclip:before {
  content: "\e142";
}
.icon-heart-empty:before {
  content: "\e143";
}
.icon-link:before {
  content: "\e144";
}
.icon-phone:before {
  content: "\e145";
}
.icon-pushpin:before {
  content: "\e146";
}
.icon-usd:before {
  content: "\e148";
}
.icon-gbp:before {
  content: "\e149";
}
.icon-sort:before {
  content: "\e150";
}
.icon-sort-by-alphabet:before {
  content: "\e151";
}
.icon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.icon-sort-by-order:before {
  content: "\e153";
}
.icon-sort-by-order-alt:before {
  content: "\e154";
}
.icon-sort-by-attributes:before {
  content: "\e155";
}
.icon-sort-by-attributes-alt:before {
  content: "\e156";
}
.icon-unchecked:before {
  content: "\e157";
}
.icon-expand:before {
  content: "\e158";
}
.icon-collapse-down:before {
  content: "\e159";
}
.icon-collapse-up:before {
  content: "\e160";
}
.icon-log-in:before {
  content: "\e161";
}
.icon-flash:before {
  content: "\e162";
}
.icon-log-out:before {
  content: "\e163";
}
.icon-new-window:before {
  content: "\e164";
}
.icon-record:before {
  content: "\e165";
}
.icon-save:before {
  content: "\e166";
}
.icon-open:before {
  content: "\e167";
}
.icon-saved:before {
  content: "\e168";
}
.icon-import:before {
  content: "\e169";
}
.icon-export:before {
  content: "\e170";
}
.icon-send:before {
  content: "\e171";
}
.icon-floppy-disk:before {
  content: "\e172";
}
.icon-floppy-saved:before {
  content: "\e173";
}
.icon-floppy-remove:before {
  content: "\e174";
}
.icon-floppy-save:before {
  content: "\e175";
}
.icon-floppy-open:before {
  content: "\e176";
}
.icon-credit-card:before {
  content: "\e177";
}
.icon-transfer:before {
  content: "\e178";
}
.icon-cutlery:before {
  content: "\e179";
}
.icon-header:before {
  content: "\e180";
}
.icon-compressed:before {
  content: "\e181";
}
.icon-earphone:before {
  content: "\e182";
}
.icon-phone-alt:before {
  content: "\e183";
}
.icon-tower:before {
  content: "\e184";
}
.icon-stats:before {
  content: "\e185";
}
.icon-sd-video:before {
  content: "\e186";
}
.icon-hd-video:before {
  content: "\e187";
}
.icon-subtitles:before {
  content: "\e188";
}
.icon-sound-stereo:before {
  content: "\e189";
}
.icon-sound-dolby:before {
  content: "\e190";
}
.icon-sound-5-1:before {
  content: "\e191";
}
.icon-sound-6-1:before {
  content: "\e192";
}
.icon-sound-7-1:before {
  content: "\e193";
}
.icon-copyright-mark:before {
  content: "\e194";
}
.icon-registration-mark:before {
  content: "\e195";
}
.icon-cloud-download:before {
  content: "\e197";
}
.icon-cloud-upload:before {
  content: "\e198";
}
.icon-tree-conifer:before {
  content: "\e199";
}
.icon-tree-deciduous:before {
  content: "\e200";
}
.icon-cd:before {
  content: "\e201";
}
.icon-save-file:before {
  content: "\e202";
}
.icon-open-file:before {
  content: "\e203";
}
.icon-level-up:before {
  content: "\e204";
}
.icon-copy:before {
  content: "\e205";
}
.icon-paste:before {
  content: "\e206";
}
.icon-alert:before {
  content: "\e209";
}
.icon-equalizer:before {
  content: "\e210";
}
.icon-king:before {
  content: "\e211";
}
.icon-queen:before {
  content: "\e212";
}
.icon-pawn:before {
  content: "\e213";
}
.icon-bishop:before {
  content: "\e214";
}
.icon-knight:before {
  content: "\e215";
}
.icon-baby-formula:before {
  content: "\e216";
}
.icon-tent:before {
  content: "\26fa";
}
.icon-blackboard:before {
  content: "\e218";
}
.icon-bed:before {
  content: "\e219";
}
.icon-apple:before {
  content: "\f8ff";
}
.icon-erase:before {
  content: "\e221";
}
.icon-hourglass:before {
  content: "\231b";
}
.icon-lamp:before {
  content: "\e223";
}
.icon-duplicate:before {
  content: "\e224";
}
.icon-piggy-bank:before {
  content: "\e225";
}
.icon-scissors:before {
  content: "\e226";
}
.icon-bitcoin:before {
  content: "\e227";
}
.icon-btc:before {
  content: "\e227";
}
.icon-xbt:before {
  content: "\e227";
}
.icon-yen:before {
  content: "\00a5";
}
.icon-jpy:before {
  content: "\00a5";
}
.icon-ruble:before {
  content: "\20bd";
}
.icon-rub:before {
  content: "\20bd";
}
.icon-scale:before {
  content: "\e230";
}
.icon-ice-lolly:before {
  content: "\e231";
}
.icon-ice-lolly-tasted:before {
  content: "\e232";
}
.icon-education:before {
  content: "\e233";
}
.icon-option-horizontal:before {
  content: "\e234";
}
.icon-option-vertical:before {
  content: "\e235";
}
.icon-menu-hamburger:before {
  content: "\e236";
}
.icon-modal-window:before {
  content: "\e237";
}
.icon-oil:before {
  content: "\e238";
}
.icon-grain:before {
  content: "\e239";
}
.icon-sunglasses:before {
  content: "\e240";
}
.icon-text-size:before {
  content: "\e241";
}
.icon-text-color:before {
  content: "\e242";
}
.icon-text-background:before {
  content: "\e243";
}
.icon-object-align-top:before {
  content: "\e244";
}
.icon-object-align-bottom:before {
  content: "\e245";
}
.icon-object-align-horizontal:before {
  content: "\e246";
}
.icon-object-align-left:before {
  content: "\e247";
}
.icon-object-align-vertical:before {
  content: "\e248";
}
.icon-object-align-right:before {
  content: "\e249";
}
.icon-triangle-right:before {
  content: "\e250";
}
.icon-triangle-left:before {
  content: "\e251";
}
.icon-triangle-bottom:before {
  content: "\e252";
}
.icon-triangle-top:before {
  content: "\e253";
}
.icon-console:before {
  content: "\e254";
}
.icon-superscript:before {
  content: "\e255";
}
.icon-subscript:before {
  content: "\e256";
}
.icon-menu-left:before {
  content: "\e257";
}
.icon-menu-right:before {
  content: "\e258";
}
.icon-menu-down:before {
  content: "\e259";
}
.icon-menu-up:before {
  content: "\e260";
}